.cintra-global {
    background-image: url(../assets/Cintra.png);
    background-repeat: no-repeat;
    height:100vh;
    background-size: 100% 100%;
    width: 100%;
    position: relative;
    
}

//scroll down


.screen-global {
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
}

.child {
  scroll-snap-coordinate: 0% 0%;
}

.screenScroll-down {
	position: absolute;
	left: 50%;
	bottom: 10px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 6s ease-in-out infinite;
	-moz-animation:    fade_move_down 6s ease-in-out infinite;
	animation:         fade_move_down 6s ease-in-out infinite;
}

@-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }

// background video

.screen-background {
    margin: 0;
    height: 100vh;
    position: relative;
}

#myVideo {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.cintraCastleLight {
    position: absolute;
    width: 8vw;
    height: 13vh;
    border-radius: 50%;
    background: #FF8040;
    animation: light 2s linear infinite alternate;
    filter: blur(10px);
}

@keyframes cintraCastleLight {
    0%   {opacity: .4; transform: translate(0px) scale(1)}
    50%  {opacity: .3; transform: translate(0px) scale(.9)}
    100% {opacity: .1; transform: translate(0px) scale(1)}
}

.cintraLight {
  position:relative;
    top: -1380px;
    right: -1020px;
}

