.Cintra {
    background-image: url(../assets/Cintra.png);
    background-repeat: no-repeat;
    height:100vh;
    background-size: 100% 100%;
}

.cintraCastleLight {
    position: absolute;
    top: 53vh;
    right: 40.5vw;
    width: 8vw;
    height: 13vh;
    border-radius: 50%;
    background: #FF8040;
    animation: light 2s linear infinite alternate;
    filter: blur(10px);
}

@keyframes cintraCastleLight {
    0%   {opacity: .4; transform: translate(0px) scale(1)}
    50%  {opacity: .3; transform: translate(0px) scale(.9)}
    100% {opacity: .1; transform: translate(0px) scale(1)}
}

