.Kaedwen {
    background-image: url(../assets/Kaedwen.png);
    background-repeat: no-repeat;
    height:100vh;
    background-size: 100% 100%;
}

.kaedwenCastleLight {
    position: absolute;
    top: 78vh;
    right: 24.5vw;
    width: 4vw;
    height: 8vh;
    border-radius: 50%;
    background: #6F7986;
    animation: light 4s linear infinite alternate;
    filter: blur(10px);
}

@keyframes kaedwenCastleLight {
    0%   {opacity: .1; transform: translate(0px) scale(1)}
    50%  {opacity: .0.8; transform: translate(0px) scale(.9)}
    100% {opacity: .0.3; transform: translate(0px) scale(1)}
}