.map-image {
  background-image: url("../assets/Witcherx4.jpg");
  position: relative;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

/* #################################################################################################### */
/*                                            STYLE VILLES                                              */
/* #################################################################################################### */


.link-town a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 800;
}

.novigrad-town {
  font-size: 13px;
  position: absolute;
  top: 23vh;
  left: 93.5vh;
}

.novigrad-spot {
  display: none;
  position: absolute;
  top: 21.5vh;
  left: 95.5vh;
  background-color:transparent;
  width:30px;
  height:30px;
  border-radius:50px;
  color: white;
  box-shadow: 0 0 10px #ffffff, inset 0 0 8px #ff0000;
}


.kaermorhen-town {
  font-size: 13px;
  position: absolute;
  top: 12.5vh;
  left: 123vh;
}

/* .novigrad-town.hide {
  display: none;
}

.novigrad-town.show {
  display: block;
  font-size: 13px;
  position: absolute;
  top: 12.5vh;
  left: 123vh;
} */

.cintra-town {
  font-size: 13px;
  position: absolute;
  top: 42vh;
  left: 82vh;
}

.nilfgaard-town {
  font-size: 13px;
  position: absolute;
  top: 94vh;
  left: 66vh;
}

.beauclair-town {
  font-size: 13px;
  position: absolute;
  top: 49.6vh;
  left: 119vh;
  box-sizing: content-box;
}

.vizima-town {
  font-size: 13px;
  position: absolute;
  top: 30vh;
  left: 95vh;
}



/* #################################################################################################### */
/*                                            STYLE REGIONS                                             */
/* #################################################################################################### */


.link-region a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 800;
}

.nilfgaard-region {
  font-size: 50px;
  position: absolute;
  top: 93vh;
  left: 80vh;
  letter-spacing: 30px;
  rotate: 0deg;
}

.toussaint-region {
  font-size: 30px;
  position: absolute;
  top: 45vh;
  left:115vh;
  letter-spacing: 0px;
  rotate: 0deg;
}

.cintra-region {
  font-size: 30px;
  position: absolute;
  top: 43vh;
  left:85vh;
  letter-spacing: 0px;
  rotate: 0deg;
}

.kaedwen-region {
  font-size: 30px;
  position: absolute;
  top: 18vh;
  left:112vh;
  letter-spacing: 0px;
  rotate: 25deg;
}

.redania-region {
  font-size: 30px;
  position: absolute;
  top: 21vh;
  left:102vh;
  letter-spacing: 0px;
  rotate: -25deg;
}

.temeria-region {
  font-size: 30px;
  position: absolute;
  top: 28vh;
  left:102vh;
  letter-spacing: 0px;
  rotate: -22deg;
}