.Toussaint {
    background-image: url(../assets/Toussaint.png);
    background-repeat: no-repeat;
    height:100vh;
    background-size: 100% 100%;
}

.toussaintCastleLight {
    position: absolute;
    top: 61vh;
    right: 15vw;
    width: 4vw;
    height: 9vh;
    border-radius: 50%;
    background: #E8E8E8;
    animation: light 4s linear infinite alternate;
    filter: blur(10px);
}

@keyframes toussaintCastleLight {
    0%   {opacity: .3; transform: translate(0px) scale(1)}
    50%  {opacity: .2; transform: translate(0px) scale(.9)}
    100% {opacity: .1; transform: translate(0px) scale(1)}
}