.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu {
    background-size: 100% 100%;
    background-image: url('../assets/wood\ board.png');
    width: 100%;
    height: 100%;
    border-radius: 2px;
    
  }

.componentsbox {
    display: flex;
    justify-content: space-around;
   
}

.titlemenu {
    font-size: 30px;
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    color: burlywood;
}

.child1 {
    width: 25%;
    height: 100%;
}
.child2 {
    width: 33%;
    height: 100%;
}
.child3 {
    width: 33%;
    height: 100%;
}
