
.menu {
    background-size: 100% 100%;
    background-image: url('../assets/wood\ board.png');
    width: 80%;
    height: 80%;
    border-radius: 2px;
    
  }
.titlemenu {
    font-size: 30px;
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    color: burlywood;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(24, 23, 23);
}
.componentsbox {
    display: flex;
    height: 100%;
    justify-content: space-around;
   
}

.child1 {
    width: 25%;
    height: 100%;
}
.child2 {
    width: 33%;
    height: 100%;
}
.child3 {
    width: 33%;
    height: 100%;
}