.titlebestiary {
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: burlywood;
    margin-left:3vh ;
    margin-top: 5vh;
}
.scroll-container {
    margin-left: 9vh;
    width: 80%;
}
.scroll-image {
    border-radius: 10px;
    width: 85%;
    height: 60vh;
}