.modalBackground {
    background-color: #11ffee00;
}

.kOpenModalBtn {
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 6px 6px;
    position: absolute;
    top: 270px; left: 620px;
    cursor: pointer;
    transition: .5s;
    box-shadow: red 0px 0px 25px 5px;

    &:hover {
        padding: 8px 8px;
        box-shadow: red 0px 0px 25px 5px;
    }
}

.kOpenModalBtn1 {
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 6px 6px;
    position: absolute;
    top: 390px; left: 840px;
    cursor: pointer;
    transition: .5s;
    box-shadow: red 0px 0px 25px 5px;

    &:hover {
        padding: 8px 8px;
        box-shadow: red 0px 0px 25px 5px;
    }
}

.kOpenModalBtn2 {
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 6px 6px;
    position: absolute;
    top: 380px; right: 650px;
    cursor: pointer;
    transition: .5s;
    box-shadow: red 0px 0px 25px 5px;

    &:hover {
        padding: 8px 8px;
        box-shadow: red 0px 0px 25px 5px;
    }

}

.kOpenModalBtn3 {
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 6px 6px;
    position: absolute;
    top: 200px; right: 410px;
    cursor: pointer;
    transition: .5s;
    box-shadow: red 0px 0px 25px 5px;

    &:hover {
        padding: 8px 8px;
        box-shadow: red 0px 0px 25px 5px;
    }
}

// Contient la bulle
.kModalContainer {
    width: 310px;
    height: 250px;
    border-radius: 12px;
    background-color: #3B3C3D;
    opacity: 0.9;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 5px;
    position: absolute;
    top: 150px; left: 260px;
    padding: 20px;
}

.kModalContainer1 {
    width: 310px;
    height: 330px;
    border-radius: 12px;
    background-color: #3B3C3D;
    opacity: 0.9;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 5px;
    position: absolute;
    top: 15px; left: 750px;
    padding: 20px;
}

.kModalContainer2 {
    width: 310px;
    height: 240px;
    border-radius: 12px;
    background-color: #3B3C3D;
    opacity: 0.9;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 5px;
    position: absolute;
    top: 130px; right: 295px;
    padding: 20px;
}

.kModalContainer3 {
    width: 310px;
    height: 340px;
    border-radius: 12px;
    background-color: #3B3C3D;
    opacity: 0.9;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 5px;
    position: absolute;
    top: 215px; right: 100px;
    padding: 20px;
}

// Titre de la bulle
.kModalContainer .title {
    display: inline-block;
    text-align: left;
    color: #F1F1F1;
    font-family:'Garamond', serif;
}

.kModalContainer1 .title {
    display: inline-block;
    text-align: left;
    color: #F1F1F1;
    font-family:'Garamond', serif;
}

.kModalContainer2 .title {
    display: inline-block;
    text-align: left;
    color: #F1F1F1;
    font-family:'Garamond', serif;
}

.kModalContainer3 .title {
    display: inline-block;
    text-align: left;
    color: #F1F1F1;
    font-family:'Garamond', serif;
}

// Corps de texte de la bulle
.kModalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #F1F1F1;
    font-family:'Garamond', serif;
    text-align: left;
}

.kModalContainer1 .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #F1F1F1;
    font-family:'Garamond', serif;
    text-align: left;
}

.kModalContainer2 .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #F1F1F1;
    font-family:'Garamond', serif;
    text-align: left;
}

.kModalContainer3 .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #F1F1F1;
    font-family:'Garamond', serif;
    text-align: left;
}