.modalBackground {
    background-color: #11ffee00;
}

.openModalBtn {
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 6px 6px;
    position: absolute;
    bottom: 470px; left: 590px;
    cursor: pointer;
    transition: .5s;
    box-shadow: red 0px 0px 25px 5px;

    &:hover {
    padding: 8px 8px;
    box-shadow: red 0px 0px 25px 5px;
}
}
.openModalBtn1 {
    background-color: #ffffff;
    border: none;
    border-radius: 50px 50px;
    padding: 6px 6px;
    position: absolute;
    bottom: 110px; left: 900px;
    cursor: pointer;
    transition: .5s;
    box-shadow: red 0px 0px 25px 5px;

    &:hover {
        padding: 8px 8px;
        box-shadow: red 0px 0px 25px 5px;
    }
}

.openModalBtn2 {
    background-color: #ffffff;
    border: none;
    border-radius: 50px 50px;
    padding: 6px 6px;
    position: absolute;
    top: 600px; right: 770px;
    cursor: pointer;
    transition: .5s;
    box-shadow: red 0px 0px 25px 5px;

    &:hover {
        padding: 8px 8px;
        box-shadow: red 0px 0px 25px 5px;
    }
}

.openModalBtn3 {
    background-color: #ffffff;
    border: none;
    border-radius: 50px 50px;
    padding: 6px 6px;
    position: absolute;
    bottom: 350px; right: 360px;
    cursor: pointer;
    transition: .5s;
    box-shadow: red 0px 0px 25px 5px;

    &:hover {
        padding: 8px 8px;
        box-shadow: red 0px 0px 25px 5px;
    }
}

.openModalBtn4 {
    background-color: #ffffff;
    border: none;
    border-radius: 50px 50px;
    padding: 6px 6px;
    position: absolute;
    top: 300px; left: 820px;
    cursor: pointer;
    transition: .5s;
    box-shadow: red 0px 0px 25px 5px;

    &:hover {
        padding: 8px 8px;
        box-shadow: red 0px 0px 25px 5px;
    }
}

// Contient la bulle
.modalContainer {
    width: 310px;
    height: 140px;
    border-radius: 12px;
    background-color: #3B3C3D;
    opacity: 0.9;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 5px;
    position: absolute;
    bottom: 480px; left: 600px;
    padding: 20px;
}

.modalContainer1 {
    width: 310px;
    height: 170px;
    border-radius: 12px;
    background-color: #3B3C3D;
    opacity: 0.9;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 5px;
    position: absolute;
    bottom: 120px; left: 910px;
    padding: 20px;
}

.modalContainer2 {
    width: 310px;
    height: 250px;
    border-radius: 12px;
    background-color: #3B3C3D;
    opacity: 0.9;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 5px;
    position: absolute;
    top: 610px; right: 780px;
    padding: 20px;
}

.modalContainer3 {
    width: 310px;
    height: 290px;
    border-radius: 12px;
    background-color: #3B3C3D;
    opacity: 0.9;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 5px;
    position: absolute;
    bottom: 360px; right: 370px;
    padding: 20px;
}

.modalContainer4 {
    width: 310px;
    height: 240px;
    border-radius: 12px;
    background-color: #3B3C3D;
    opacity: 0.9;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 5px;
    position: absolute;
    top: 320px; left: 840px;
    padding: 20px;
}

// Titre de la bulle
.modalContainer .title {
    display: inline-block;
    text-align: left;
    color: #F1F1F1;
    font-family:'Garamond', serif;
}

.modalContainer1 .title {
    display: inline-block;
    text-align: left;
    color: #F1F1F1;
    font-family:'Garamond', serif;
}

.modalContainer2 .title {
    display: inline-block;
    text-align: left;
    color: #F1F1F1;
    font-family:'Garamond', serif;
}

.modalContainer3 .title {
    display: inline-block;
    text-align: left;
    color: #F1F1F1;
    font-family:'Garamond', serif;
}

.modalContainer4 .title {
    display: inline-block;
    text-align: left;
    color: #F1F1F1;
    font-family:'Garamond', serif;
}

// Corps de texte de la bulle
.modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #F1F1F1;
    font-family:'Garamond', serif;
    text-align: left;
}

.modalContainer1 .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #F1F1F1;
    font-family:'Garamond', serif;
    text-align: left;
}

.modalContainer2 .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #F1F1F1;
    font-family:'Garamond', serif;
    text-align: left;
}

.modalContainer3 .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #F1F1F1;
    font-family:'Garamond', serif;
    text-align: left;
}

.modalContainer4 .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #F1F1F1;
    font-family:'Garamond', serif;
    text-align: left;
}