.circle-menu {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 5;
}

.NavItem1{
    position: absolute;
    top: 6vh; left: -1vw;
}

.NavItem2{
    position: absolute;
    top: -1vh; left: 4vw;
}