.btn-global{
    position: fixed;
    width: 350px;
    height: 350px;
    right: -4%;
    top: 74%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1300;
}

.btn-circle {
    position: absolute;
    width: 150px;
    z-index: 10;
    cursor: pointer;
}
