// .titlepotion {
//     font-size: 15px;
//     display: flex;
//     justify-content: center;
//     color: burlywood;
// }
.container-potion {
    width: 50%;
    height: 27vh ;
    padding-top: 5vh;

}
.img-potion {
    width: 100%;
    height: 100%;
}


.potion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.counter {
    font-size: 20px;
    color: burlywood;
    font-family: "MORPHEUS";
}
.counter-number {
    font-size: 23px;
}
.counter-container {
    padding-top: 2vh;
}
.button-mix {
    color: burlywood;
    background-color: black;
    font-size: 20px;
    font-family: "OptimusPrinceps";
}
.cauldron-container {
    margin-top: 3vh;
    width: 100%;
    ;

}
.cauldron-image {
    height: 50%;
width: 100%;
}
.invalide-mix {
    color: black;
    display: flex;
    padding-left: 2vh;
    font-size: 21px;
    font-family: "MORPHEUS";
    background-image: url(../assets/scroll2.png);
    height: 15vh;
    position: absolute;
    width: 12vw;
    margin-top: 5vh;
    border-radius: 10px;
    
}
.invalide-text {
    margin-top:1vh;
    font-family: "MORPHEUS";
    font-weight: bold;
    font-style: italic;

    
}
.potion-activated {
    position: absolute;
    top: 3vh;
    right: 30vw;
    width: 10vw;
    height: 13vh;
    background-color: black;
    color: white;
    padding: 10px;
    z-index: 1;
    opacity: 0.75;
    border-radius: 5%;
  }
  .potion-name {
    font-family: "OptimusPrinceps";
    font-size: 18px;
    position: absolute;
    top:-1.8vh;

  }
  .info {
    font-family: "MORPHEUS";
    font-size: 14px;
  }
  .info2 {
    font-family: "MORPHEUS";
    font-size: 16px;
  }
 