.App {
    overflow-x: hidden;
    height: 100vh;
}

::-webkit-scrollbar {
    background:transparent;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgb(86, 86, 86);
    border-radius: 10px;
}
::-webkit-scrollbar-corner {
    border-radius: 10px;
}