@import './App.scss';
@import './screens/Home.scss';
@import './screens/CintraTown.scss';
@import './screens/KaerMorhen.scss';
@import './screens/NilfgaardTown.scss';
@import './screens/Beauclair.scss';
@import './screens/Novigrad.scss';
@import './screens/Vizima.scss';
@import './components/Spark.scss';
@import './components/CampFire.scss';
@import './screens/Map.scss';
@import './components/Hover.scss';
@import './screens/Cintra.scss';
@import './screens/Nilfgaard.scss';
@import './screens/Temeria.scss';
@import './screens/Redania.scss';
@import './screens/Kaedwen.scss';
@import './screens/Toussaint.scss';
@import './components/Characters.scss';
@import './components/CharactersCard.scss';

@font-face {
  font-family: "MORPHEUS";
  src: local("Morpheus.TTF") format("truetype");
  }

  @font-face {
    font-family: "Optimus Princeps";
    src: local("OptimusPrinceps.ttf") format("truetype");
    }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
